.carsContainer{
    background-color: #eeeafa;
}
.outercarDiv{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.carsrow1{
    background-color: #eeeafa;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.carsrow2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;   
}




 @media all and (max-width:500px){
    .carDivActive{
        width: 50px;
    }
    .carDivInactive{
        width: 50px;
    }
    .outercarDiv p{
        font-size: 14px;
    }
}

.carimgcol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carDivInactive{
    border: 0.1px solid gray;
    border-radius: 50%;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carDivActive{
    border: 0.1px solid gray;
    border-radius: 50%;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7142ff;
    box-shadow: 0 2px 2px 2px #b1adad;
}

.carDivActive img{
    width: 90%;
}
.carDivInactive img{
    width: 90%;
}

.innerCar2{
    display: flex;
    justify-content: space-evenly;
}
.innerCar2 p{
    margin-bottom: 0;
}

.leftCarData{
    font-size: 1.2rem;
    text-align: left;
    line-height: 2.5rem;
    font-weight:500;
}

@media all and (max-width:530px){
    .leftCarData{
        font-size: 0.8rem;
        text-align: left;
        line-height: 2.4rem;
        font-weight:400;
    }
    .rightCarData{
        line-height: 2.4rem !important;
    }
    .rightCarData p{
        font-size: small;
    }
}

.rightCarData{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2.5rem;
}

@media all and (max-width:305px){
    .rightCarData{
       
        justify-content: flex-end;
        
    }
}


.rightCarData p{
    text-align: left;
}

.maincarimg{
    width: 100%;
}