.placesContainer{
    background-color: #f1f1f1;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.placesCol{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.airportData .placesCol{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    
}

.placesContainer h5{
    font-weight: 500;
    cursor: default;
}
.placesSlider{
    background-color: #7142ff;
}

.airportData h5{
    text-align: center;
}
.placesContainer li:hover{
    color: #7142ff;
    font-weight: bold;
}
.placesContainer li{
    cursor: pointer;
}

.placesul{
    list-style-position: outside;
    line-height: 2.5rem;
}