.offerImg{
    overflow: hidden;
    display: block;
    position: relative;
    
}
.offerImg img{
    height: 60vh;
    width: 100%;
}


.offer__slider-section{
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
  }

.offers{
    position: absolute;
    bottom: -25%;
    z-index: 1;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

.offerSliderContainer{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}


.offerSliderTitle h3{
    color: white;
    font-weight: bolder;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #d9ff00;
    margin-bottom: 3rem;
}

.offerstamp{
    position: absolute;
    top: -35px;
    right: 1rem;
    width: 15%;
}

.mainofferslider .slick-slide{
    padding: 0 1rem;
}

.outerofferSlider{
    width: 80%;
}

@media only screen and (max-width:1024px){
    .outerofferSlider{
        width: 90%;
    }
}

.mainofferslider{
    width: 90%;
    
}

.offerslides{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.offersliderControls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerofferslide11{
    background-color: #A81E23;
    text-align: left;
    padding: 1rem;
    color: white;
}

.innerofferslide12{
    text-align: left;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.innerofferslide21{
    background-color: #36B14A;
    text-align: left;
    padding: 1rem;
    color: white;
}

.innerofferslide22{
    text-align: left;
    padding: 1rem 2rem;
    background-color: white; 
    border-radius: 0 0 10px 10px;
}

.innerofferslide31{
    background-color: #C942F8;
    text-align: left;
    padding: 1rem;
    color: white;
}

.innerofferslide32{
    text-align: left;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
}


.offercardfooter1, .offercardfooter2, .offercardfooter3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offercardfooter1button{
    width: 100%;
    background-color: #A81E23;
    border-radius: 30px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 5px 20px;
}
.offercardfooter2button{
    width: 100%;
    background-color: #36B14A;
    border-radius: 30px;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}
.offercardfooter3button{
    width: 100%;
    background-color: #C942F8;
    border-radius: 30px;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}

@media all and (max-width:720px){
    .offercardfooter1, .offercardfooter2, .offercardfooter3{
        flex-direction: column;
        align-items: center;
    }
    .offercardfooter1 button{
        width: 100%;
    }
    .offercardfooter2 button{
        width: 100%;
        
    }
    .offercardfooter3 button{
        width: 100%;
    }
    .offers{
        bottom: -33%;
    }

}
@media all and (max-width:660px){
    
    .offers{
        bottom: -43%;
    }

}
@media all and (max-width:310px){
    
    .offers{
        bottom: -53%;
    }

}

.offersiderbtn{
    font-size: 2rem;
    color: white;
    padding: 0.5rem;
}

.offercontrolbtn1{
    cursor: pointer;
    border-radius: 5px;
    background-color: #7142ff;
    
}
.offercontrolbtn2{
    cursor: pointer;
    border-radius: 5px;
    background-color: #7142ff;
}